.logos {
  margin-top: 1em;
}
.logos img {
  margin: 0 0 1em 0;
}
.locale-selector {
  margin: 1em 0 0 0;
  padding: 0;
}
.locale-selector li {
  display: inline;
  margin-left: 10px;
}
.locale-selector li:first-child {
  margin-left: 0;
}
#logo {
  margin-top: 1em;
}
.login-panel {
  margin-top: 10px;
}
